<h1>{{title}}</h1>

<div class="row">
<div class="col-4">
  <strong>Dropdown</strong>
  <br />
  <mat-card>
  <mat-form-field>
    <mat-label>Select an Item</mat-label>
    <mat-select>
      <mat-option *ngFor="let cat of search | orderBy:order:ascending" [value]="cat.name">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
</div><!--end col-->

<div class="col-4">
  <strong>List Items</strong>
  <br />
  <br />
  <ul *ngFor="let cat of search | orderBy:order:ascending">
    <li>{{cat.name}}</li>
  </ul>
</div>
</div><!--end row-->

<div class="row">
  <mat-form-field appearance="outline">
    <mat-select [formControl]="searchSelectMultiCtrl" placeholder="Search" [multiple]="true" #multiSelect>
      <ngx-mat-select-search [formControl]="searchSelectMultiFilterCtrl"
       [placeholderLabel]="'Search'"
       [noEntriesFoundLabel]="'no matches found'"
       ></ngx-mat-select-search>
      <mat-option *ngFor="let filteredSearches of filteredSearchMulti | async" [value]="filteredSearches">
        {{filteredSearches.msName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div><!--row-->
